<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= category %>
    </title>
</head>

<body>
    <%- include("./partials/nav") %>

        <h1>
            <%= category %>
        </h1>

        <% menuItems.forEach(item=> { %>
            <h3>
                <%= item.name + (item.rating===5? 'â­' : '' ) %>
            </h3>
            <h3>Price: <%= item.price %>
            </h3>
            <h3>Rating: <%= item.rating %>
            </h3>
            <h3>Details: <%= item.details %>
            </h3>
            <br>
        <% }); %>
</body>

</html>